@import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");

.App {
  background-repeat: no-repeat;
  background-image: url(./aorbg2.png);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  font-family: "Tino";
  color: black;
  font-size: 18px;
  font-weight: 700;

  z-index: 0;
}
-webkit-scrollbar-thumb {
  border-radius: 0%;
}

.scrollbox {
  display: flex;
  flex-direction: column;
  top: 349px;
  left: 340px;
  color: black;
  font-size: 18px;
  font-weight: 700;
  height: 159px;
  width: 509px;
  overflow-y: scroll;
  position: relative;
}

.chat-input {
  position: relative;
  top: 379px;
  left: 337px;
  height: 64px;
  width: 515px;
  color: black;
  border: none;
}

.message-input {
  font-family: "Tino";
  box-sizing: content-box;
  position: absolute;

  height: 60px;
  width: 510px;
}

input {
  border: none;
  font-size: 18px;
  font-weight: 500;
}
.send-button {
  z-index: 10;
  background-color: darkolivegreen;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.screen-name {
  color: red;
}

.screen-name2 {
  color: blue;
}

.msgbox {
  padding: 0;
}
