@import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");

.App {
  background-repeat: no-repeat;
  background-image: url(./homescreen.png);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  font-family: "Tino";
  color: black;
  font-size: 18px;
  font-weight: 700;

  z-index: 0;
}
-webkit-scrollbar-thumb {
  border-radius: 0%;
}

.window {
  background-image: url(./im-window.png);
  background-repeat: no-repeat;
  margin-left: 22%;
  margin-top: 20%;
  background-size: contain;
  position: absolute;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 40%;
  height: 60%;
  min-width: 40%;
  min-height: 60%;
}

.scrollbox {
  display: flex;
  flex-direction: column;
  margin-top: 14%;
  margin-left: 3%;
  color: black;
  font-size: 18px;
  font-weight: 700;
  height: 35%;
  width: 92%;
  background-color: darkorange;
  opacity: 0.3;
  overflow-y: scroll;
  position: relative;
}

.chat-input {
  position: relative;
  margin-left: 3%;
  height: 15%;
  width: 95%;
  color: black;
  border: none;
  margin-top: 2%;
}

.message-input {
  font-family: "Tino";
  box-sizing: content-box;
  position: relative;
  background-color: blueviolet;
  opacity: 0.4;
  height: 90%;
  width: 95%;
}

input {
  border: none;
  font-size: 18px;
  font-weight: 500;
}
.send-button {
  z-index: 10;
  background-color: darkolivegreen;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.screen-name {
  color: red;
}

.screen-name2 {
  color: blue;
}

.msgbox {
  padding: 0;
}
